@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bitter:700,400italic,400);

body{
  background-image: url('../media/wet_snow.png');
  background-size: 15%;
  background-attachment: fixed;
}

#container {
  margin: 0 auto;
  width: 960px;
  position: absolute;
  left: 50px;
  //top: 50px;
  //text-align: center;

}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Open Sans', sans-serif;
}

.button-primary,
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 0px;
}

.pure-button-primary {
  background: rgb(204, 194, 0);
  letter-spacing: 0px;
}

.button-success{
  background: rgb(190, 9, 9);
}


.button-error {
  background: rgb(210, 115, 78);
}

.button-warning {
  background: rgb(223, 117, 20);
}

.button-secondary {
  background: rgba(108, 67, 223, 0.55);
}

.button-xsmall {
  font-size: 50%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 150%;
}

.avatar{
  width: 50px;
  height: 50px;
}

.vertical{
  background-color: rgba(190, 9, 9, 0.7) !important;
}

.horizontal{
  background-color: rgba(246, 174, 22, 0.7) !important;
}

.arrow{
  width: 32px;
  height: 32px;
  margin: 5px;

}

input {
  margin-right: 5px;
}

#game{
  background-color: rgba(247, 247, 247, 0.54);
  width: 960px;
  letter-spacing: 1px;
  margin-top: 10px;

}

.header {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;

}

h1{
  font-family: 'Bitter', serif;
  font-weight: normal;
  letter-spacing: -4px;
  font-size: 70px;
  color: #000;
  border-bottom: 2px dashed rgb(190, 9, 9);
}


.dice{
  width: 50px;
  height: 50px;
  padding: 10px 10px;
}

#dice{
  background-color: white;
  width: auto;
  height: auto;
  padding: auto;
  margin: 10px 0;
}

.frozen{
  opacity: 0.4;
}

#rolldice{
  float: right;

}

.roll-dice{
  margin: 10px;
}

.add {
  width: 100px;
}
